/* HEADER */

body {

    margin-right: 20%;

    margin-left: 20%;

}

#main-header {

    background-color: rgb(15, 147, 255);

    background-image: url(../assets/img/pattern.png);

    background-size: 15%;

    width: 100%;

    height: 80px;

}

.img-logo {

    height: 40px;

    margin-top: 40px;

}

/* FINE HEADER */

/* INIZIO MAIN */
/* SEZIONE H1 */
.testo-0 {

    margin-bottom: 5px;

}

.testo-1 {

    color: gray;

    font-weight: bold;

}

.testo-2 {

    color: rgb(28, 202, 255);

    font-weight: bold;

}

.testo-3 {

    color: gray;

    font-weight: bold;

}
/* FINE H1 */
/* SEZIONE IMMAGINI MAIN */
.span-testo-1, .span-testo-2 {

    display: block;

}
/* FINE IMMAGINI MAIN */
/* INIZIO TABLE */
table {

    border-collapse: collapse;

}

.th1, .th-2, .th-3 {

    padding-left: 80px;

    text-align: left;

    padding-left: 0px;

}

.th-1 {

    padding-right: 65px;

}



.padding-td {

    padding-right: 80px;

}


.head-table {

    background-color: rgb(28, 202, 255);

    color: white;

}


.body-table {

    height: 150px;

}

.primo-tr, .ultimo-tr {

    background-color: skyblue;

    align-items: center;

}
/* FINE TABLE */

/* INIZIO FOOTER */

.div-img-1 {

    height: 200px;

    width: 300px;

    background-image: url(../assets/img/monitor.jpg);

    color: white;

}

.div-img-2 {

    height: 200px;

    width: 300px;

    background-image: url(../assets/img/graph.jpg);

    color: white;

}

.testo-footer-1, .testo-footer-2 {

    margin-left: 15px;
}

/* FINE FOOTER */

