/* HEADER */

#main-header {

    background-color: rgb(15, 147, 255);

    background-image: url(../assets/img/pattern.png);

    background-size: 15%;

    width: 100%;

    height: 80px;

}

.img-logo {

    height: 40px;

    margin-top: 40px;

}

/* FINE HEADER */

/* INIZIO MAIN */

.testo-0 {

    margin-bottom: 5px;

}

.testo-1 {

    color: gray;

    font-weight: bold;

}

.testo-2 {

    color: rgb(28, 202, 255);

    font-weight: bold;

}

.testo-3 {

    color: gray;

    font-weight: bold;

}

